<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add group</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navigation :: navbar"></div>

<div th:if="${courseId == null}" class="container">
    <div class="row my-3">
        <div class="col">
            <h2 class="text-center">Choose course</h2>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col-4 offset-8">
        <label for="myInput"></label>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Course">
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <ul id="myUL" class="list-group">
          <li th:each="courseItem : ${courses}" class="list-group-item list-group-item-action">
              <a th:text="${courseItem.getName()}"
                 th:href="@{/new-groups(courseId = ${courseItem.getId()})}"></a>
          </li>
        </ul>
      </div>
    </div>
</div>

<div th:if="${courseId != null}" class="container">
    <div class="row my-3">
        <div class="col">
            <h2 th:text="'Choose group for ' + ${course}" class="text-center"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <form th:action="@{/new-groups/add}">
                <div class="row">
                    <div class="col-6">
                        <select class="custom-select" id="inputSelect" name="inputSelect">
                            <option th:each="groupCourse : ${groupCourses}"
                                    th:value="${groupCourse.getGroupNum()}"
                                    th:text="${groupCourse.getGroupNum()}">
                            </option>
                        </select>
                    </div>
                    <input th:value="${courseId}"
                           name="courseId"
                           type="hidden"/>
                    <div class="col-6 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Enroll</button>
                        <a type="button"
                           class="btn btn-secondary"
                           th:href="@{/new-groups(courseId = null)}"
                           style="color: white">Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script th:inline="javascript">
  function myFunction() {
    let input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>

</html>