<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>all Lessons</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link th:href="@{resources/styles/button.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="fragments/navigation :: navbar"></div>
<div class="container">
    <div class="row">
       <form th:action="@{/admin-lessons}"
             method="get"
             class="col-4 offset-8 input-group my-2">
           <div class="input-group-prepend">
               <button class="btn btn-outline-secondary" type="submit">Choose week</button>
           </div>
           <select class="custom-select" id="inputSelect" name="inputSelect" onchange="this.form.submit()">
               <option th:each="i : ${#numbers.sequence(1, 15)}"
                       th:value="${i}"
                       th:text="${i}"
                       th:selected="${i==week}"
                       >
               </option>
           </select>
       </form>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <h1 th:text="'Week ' + ${week}" class="text-center"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div>
                <table class="table table-bordered " style="width:100%">
                    <thead class="thead-light">
                    <tr>
                        <th style="width:20%">Time</th>
                        <th style="width:10%">DayOfTheWeek</th>
                        <th style="width:10%">CourseName</th>
                        <th style="width:10%">LessonType</th>
                        <th style="width:5%">Place</th>
                        <th style="width:20%">Teachers</th>
                        <th style="width:5%">Group</th>
                        <th style="width:20%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lessonsByDay : ${lessonsByWeek}">
                        <td th:text="${lessonsByDay.getDate().getLessonOrder().getOrder()}">Time</td>
                        <td th:text="${lessonsByDay.getDate().getDayOfTheWeek().getDay()}">DayOfTheWeek</td>
                        <td th:text="${lessonsByDay.getGroupCourse().getCourse().getName()}">CourseName</td>
                        <td th:text="${lessonsByDay.getType().getType()}">Type</td>
                        <td th:text="${lessonsByDay.getPlace()}">Place</td>
                        <td th:text="${lessonsByDay.getGroupCourse().getTeachers().toString()}">Place</td>
                        <td th:text="${lessonsByDay.getGroupCourse().getGroupNum()}">Group</td>
                        <td><a title="Delete" th:href="@{/admin-lessons/delete(id = ${lessonsByDay.getLessonId()})}"><i class="fas fa-trash-alt"></i></a>&emsp;
                            <a title="Edit" th:href="@{/admin-lessons/edit(id = ${lessonsByDay.getLessonId()})}"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</body>
</html>