<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="uk">
<head>
    <title>Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navigation :: navbar"></div>

<div class="text-center" style="margin-top: 40px">
    <h1 class="display-4 justify-center">Postpone lesson</h1>
</div>

<form style="vertical-align: center; margin-left: auto; margin-right: auto; width: 60%; margin-bottom: 50px" th:action="@{/postponeLessonSubmit/{id}(id = ${postpone.getLessonId()})}" th:method="POST">

    <div class="form-group">
        <label for="courseName" class="col-sm-2 col-form-label">Course name</label>
        <input id = "courseName" name="courseName"
               class="form-control" type="text" th:placeholder="${postpone.getCourseName()}" readonly>
    </div>

    <div class="form-group">
        <label for="previousDate" class="col-sm-2 col-form-label">Previous date</label>
        <input id = "previousDate" name="previousDate"
               class="form-control" type="text" th:placeholder="${postpone.getOldDate()}" readonly>
    </div>

    <div class="form-group">
        <label for="week" class="col-sm-2 col-form-label">New week:</label>
        <input type="number" min = "1" max="15" th:value="${postpone.getWeek()}" class="form-control" name="week" id="week">
    </div>

    <div class="form-group">
        <label for="day" class="col-sm-2 col-form-label">New day:</label>
        <select class="form-control" name = "day" id = "day" >
            <option th:each = "day : ${T(com.project.scheduler.entity.WeekDay).values()}" th:selected = "${postpone.getDay()}"
                    th:value = "${day}" th:text="${day.getDay()}"></option>
    </select>
    </div>

    <br/>

    <div class="form-group">
        <label for="order" class="col-sm-2 col-form-label">Lesson order:</label>
        <select class="form-control" name = "order" id = "order">
            <option th:each = "order : ${T(com.project.scheduler.entity.LessonOrder).values()}" th:selected = "${postpone.getOrder()}"
                th:value = "${order}" th:text="${order.getOrder()}"></option>
        </select>
    </div>

    <br/>

    <div class="form-group">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <textarea placeholder="Specify the reason for putting the lesson off" class="form-control" name = "description" id = "description"
                  rows = "5" th:text = "${postpone.getDescription()}"></textarea>
    </div>

    <div class="col d-flex justify-content-center">
        <input style="margin-top: 30px" class = "btn btn-success" type="submit" value="Submit"/>
    </div>

</form>


</body>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script>
</script>
</html>