<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Lessons</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link th:href="@{resources/styles/button.css}" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="fragments/navigation :: navbar"></div>
<div class="container">
    <div class="row">
       <form th:action="@{/my-lessons}"
             method="get"
             class="col-4 offset-8 input-group my-2">
           <div class="input-group-prepend">
               <button class="btn btn-outline-secondary" type="submit">Choose week</button>
           </div>
           <select class="custom-select" id="inputSelect" name="inputSelect" onchange="this.form.submit()">
               <option th:each="i : ${#numbers.sequence(1, 15)}"
                       th:value="${i}" class="opt"
                       th:text="${i}"
                       th:selected="${i == week}"
                       >
               </option>
           </select>
       </form>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <h1 th:text="'Week ' + ${week}" class="text-center"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2" th:each="entry : ${lessonsByWeek}">
            <div th:if="${not #lists.isEmpty(entry.getValue())}">
                <h3 class="text-center" th:text="${entry.getKey().getDay()}"></h3>
                <table class="table table-bordered " style="width:100%">
                    <thead class="thead-light">
                    <tr>
                        <th style="width:20%; text-align: center; vertical-align: middle">Period</th>
                        <th style="width:35%; text-align: center; vertical-align: middle">Name</th>
                        <th style="width:20%; text-align: center; vertical-align: middle">Type</th>
                        <th style="width:15%; text-align: center; vertical-align: middle">Place</th>
                        <th style="width:10%; text-align: center; vertical-align: middle">Group</th>
                        <th th:if ="${user.getRole() == T(com.project.scheduler.entity.Role).TEACHER}"
                            style="width: 15%; text-align: center; vertical-align: middle"
                        >Postpone request</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lesson : ${entry.getValue()}">
                        <td style="text-align: center; vertical-align: middle" th:text="${lesson.getTime()}">Period</td>
                        <td style="text-align: center; vertical-align: middle" th:text="${lesson.getCourseName()}">Name</td>
                        <td style="text-align: center; vertical-align: middle" th:text="${lesson.getType()}">Type</td>
                        <td style="text-align: center; vertical-align: middle" th:text="${lesson.getPlace()}">Place</td>
                        <td style="text-align: center; vertical-align: middle" th:text="${lesson.getGroupNum()}">Group</td>
                        <td style="text-align: center; vertical-align: middle" th:if ="${user.getRole() == T(com.project.scheduler.entity.Role).TEACHER}" th:switch="${lesson.getPostponeLesson()}">
                            <a th:title="Postpone" th:case = "null" th:href="@{/postponeLessonForm(id = ${lesson.getLessonId()})}" th:method="GET">
                                <i class="fas fa-plus-square"></i>
                            </a>
                            <a th:case = "*" th:text="${lesson.getPostponeStatus()}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col d-flex justify-content-center">
            <a th:href="@{/my-lessons/downloadExcel(week = ${week})}" th:method="GET" class="btn btn-success">
                Download in Excel
            </a>
        </div>
    </div>
</div>



</body>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>


</html>