<div class="text-nowrap" th:fragment="requestAdmin (reqId)" >
    <div th:if="${user.getRole() == T(com.project.scheduler.entity.Role).ADMIN}">
        <form method="post" th:action="@{/requests/approve(id = ${reqId})}">
        <button style="background: none; border: none" type="submit" title="Approve">
            <i style="color: blue" class="fas fa-thumbs-up"></i>
        </button>
        </form>
        <form method="post" th:action="@{/requests/decline(id = ${reqId})}">
            <button style="background: none; border: none" type="submit" title="Decline">
                <i style="color: blue" class="fas fa-thumbs-down"></i>
            </button>
        </form>
    </div>

</div>