<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add group</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
</head>
<body>
<!--<div th:insert="fragments/navigation :: navbar"></div>-->

<div class="container">
    <br>
    <div class="row">
      <div class="col-4 offset-8">
        <label for="myInput"></label>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Course">
      </div>
    </div>
    <br>
  <div class="row">
    <div class="col-8 offset-2">
      <ul id="myUL" class="list-group">
        <li th:each="course : ${courses}" class="list-group-item list-group-item-action">
            <a data-target="#createModal" th:text="${course.getName()}"></a>

<!--            <form th:action="@{/add-group}" id="groups" th:object="${course}"-->
<!--                  method="get"-->
<!--                  class="col-4 offset-8 input-group my-2" style="display: none">-->
<!--              <div class="input-group-prepend">-->
<!--                <button class="btn btn-outline-secondary" type="submit">Choose week</button>-->
<!--              </div>-->

<!--            </form>-->
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="this.form.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createAddress" method="post" th:action="@{/new-groups/add}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon">Group number</span>
                        </div>
<!--                        <select class="custom-select" id="inputSelect" name="inputSelect">-->
<!--                            <option th:each="i : ${courseService.findAllGroupsForCourse(curr)}"-->
<!--                                    th:value="${i.getGroupNum()}"-->
<!--                                    th:text="${i.getGroupNum()}"-->
<!--                            >-->
<!--                            </option>-->
<!--                        </select>-->
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Ім'я</span>
                        </div>
                        <input name="name" type="text" class="form-control"
                               placeholder="Іван"
                               aria-label="Name"
                               aria-describedby="basic-addon1">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="this.form.close()">
                            Відмінити
                        </button>
                        <button type="submit" class="btn btn-primary" onclick="this.form.submit()">Зберегти
                            адресу
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:inline="javascript">
  function myFunction() {
    let input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  function show() {
    // let message = [[${c}]];
      $('#createModal').toggle();
      // $('#createAddress').trigger('reset')

    //   let x = document.getElementById("createModal");
    // if (x.style.display === "none") {
    //   x.style.display = "block";
    // } else {
    //   x.style.display = "none";
    // }
  }
</script>

</html>