<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navigation :: navbar"></div>

<div class="container">
    <div class="row" th:if="${error}">
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <form id="addCourse" method="POST" th:action="@{/course/add}">
                <div class="form-row mb-3">
                    <div class="col-9">
                        <label for="name">Course name</label>
                        <input type="text" required
                               class="form-control"
                               id="name"
                               placeholder="Computing"
                               name="courseName">
                    </div>
                    <div class="col-3">
                        <label for="grNum">Group number</label>
                        <input type="text" min="1" max="10" required
                               class="form-control"
                               id="grNum"
                               placeholder="3"
                               name="grNum">
                    </div>
                </div>

                <div class="form-group d-flex justify-content-between">
                    <button type="submit"
                            class="btn btn-primary ">Save</button>
                    <button type="button"
                            class="btn btn-secondary"
                            onclick="this.form.reset()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <div class="row my-2">
                <div class="col">
                    <label for="myInput"></label>
                    <input type="text"
                           id="myInput"
                           onkeyup="myFunction()"
                           placeholder="Course">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-bordered" style="width: 100%">
                        <thead class="thead-light">
                        <tr>
                            <th style="width: 50%">Name</th>
                            <th style="width: 25%">Action</th>
                            <th scope="width: 25%">AddLessons</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course : ${courses}">
                            <td class="items">
                                <a th:text="${course.getName()}"></a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-outline-danger"
                                   onclick="return confirm('Are you sure you want to delete this course')"
                                   th:href="@{/course/delete(id = ${course.getId()})}"
                                    th:method="DELETE">
                                    Delete
                                </a>&emsp;
                            </td>
                            <td>
                                <a type="button" class="btn btn-secondary"
                                   th:href="@{/course/addLessons(id = ${course.getId()})}">
                                    AddLessons
                                </a>&emsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    function myFunction() {
        let input, filter, items, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        items = document.getElementsByClassName("items");

        for (i = 0; i < items.length; i++) {
            a = items[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                items[i].parentElement.style.display = "";
            } else {
                items[i].parentElement.style.display = "none";
            }
        }
    }
</script>

</html>