<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UKMA Schedule</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
    <div th:insert="fragments/navigation :: navbar"></div>
    <div id="content">
            <h1 class="cover-heading">Welcome to UKMA Schedule!</h1>
<!--            <img src="static/public/ukma.jpg" class="rounded mx-auto d-block" >-->
    </div>
</body>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script>
</script>
</html>