<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PostponeRequests</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/navigation :: navbar"></div>

    <div class="container">

        <h2 style="margin-top: 30px; horiz-align: center">Postpone requests</h2>

        <div class="row">
            <div class="table-responsive">
                <table id="postpone" class="table table-bordered shadow p-3 mb-5 bg-white rounded" style="width: 100%; margin-top: 30px;">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align: center; vertical-align: middle">Lesson</th>
                            <th style="text-align: center; vertical-align: middle">Lesson Type</th>
                            <th style="text-align: center; vertical-align: middle">Description</th>
                            <th style="text-align: center; vertical-align: middle">Teachers</th>
                            <th style="text-align: center; vertical-align: middle">Old Date</th>
                            <th style="text-align: center; vertical-align: middle">New Date</th>
                            <th style="text-align: center; vertical-align: middle">Status</th>
                            <th style="text-align: center; vertical-align: middle">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="request : ${requests}">
                            <td style="text-align: center; vertical-align: middle" th:text="${request.lesson}">Name</td>
                            <td style="text-align: center; vertical-align: middle" th:text="${request.getLessonType()}">Type</td>
                            <td style="text-align: center; vertical-align: middle" th:text="${request.description}">Description</td>
                            <td style="text-align: center; vertical-align: middle" th:text="${request.teacher}">Teacher</td>
                            <td style="text-align: center; vertical-align: middle" th:text="${request.getOldDate()}">Old</td>
                            <td style="text-align: center; vertical-align: middle" th:text="${request.newDate}">New Date</td>
                            <td style="text-align: center; vertical-align: middle" th:text="${request.getStatus}">Status</td>
                            <td style="text-align: center; vertical-align: middle; width: 20%">

                                <div th:if="${user.getRole() == T(com.project.scheduler.entity.Role).TEACHER}">
                                    <a th:if="${request.status.equals(request.status.PENDING)}" title="Change" th:href="@{/postponeLessonReview(id = ${request.getCanceledId})}" th:method="GET">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a title="Delete" th:href="@{/requests/delete(id = ${request.getId})}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>

                                <div th:if="${request.status.equals(request.status.PENDING)}"
                                     th:insert="fragments/buttonFragment :: requestAdmin (reqId=${request.getId})"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script>
</script>
</body>
</html>