<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang = "uk">
<head>
    <title>Form</title>
</head>
<body>

<div >
    Fill in the fields
</div>

<form th:action="@{/postponeLesson/submit}" th:object="${postponeLesson}" th:method="POST">

    <label for="id">Id:</label>
    <input type="number" class="form-control" name="id" id="id">

    <!--
    <label for="date">New date:</label>
    <input type="date" class="form-control" name="date" id="date">
    -->

    <label for="week">New date:</label>
    <input type="number" class="form-control" name="week" id="week">
<!--
    <label for="day">New day:</label>
    <input type="week" th:text="${#dates.dayOfWeekName()}" class="form-control" name="day" id="day">
-->

    <label for="day">New week day:</label>
    <input type="number" class="form-control" name="day" id="day">

    <label for="lesson">Lesson:</label>
    <input type="number" class="form-control" name="lesson" id="lesson">

    <label for="description">Description:</label>
    <input type="text" th:field="*{description}" class="form-control" name="description" id="description">

    <label for="place">New place:</label>
    <input type="text" th:field="*{newPlace}" class="form-control" name="place" id="place">

    <div><input type="submit" value="Submit"/></div>
</form>
</body>
</html>