<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<body>

<div class="container">
    <div th:switch="${user.role}">

        <div th:case="'admin'">
            <h3 th:text="#{user.firstname} + ': ' + ${user.firstName}">First name</h3>
            <h3 th:text="#{user.lastname} + ': ' + ${user.lastName}">Last name</h3>
        </div>

<!--        <div th:case="'teacher'">-->
<!--            <h3 th:text="#{user.firstname} + ': ' + ${user.getFirstName()}"></h3>-->
<!--            <h3 th:text="#{user.lastname} + ': ' + ${user.getLastName()}"></h3>-->
<!--            <h3 th:text="#{teacher.academicDegree} + ': ' + ${user.getAcademicDegree()}"></h3>-->
<!--            <h3 th:text="#{teacher.department} + ': ' + ${user.getDepartment()}"></h3>-->
<!--        </div>-->

<!--        <div th:case="'student'">-->
<!--            <h3 th:text="#{user.firstname} + ': ' + ${user.getFirstName()}"></h3>-->
<!--            <h3 th:text="#{user.lastname} + ': ' + ${user.getLastName()}"></h3>-->
<!--            <h3 th:text="#{student.ticket} + ': ' + ${user.getStudTicketSeries()}"></h3>-->
<!--            <h3 th:text="#{student.faculty} + ': ' + ${user.getFaculty()}"></h3>-->
<!--            <h3 th:text="#{student.speciality} + ': ' + ${user.getSpeciality()}"></h3>-->
<!--        </div>-->

    </div>

</div>

</body>

</html>