<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">



<body>


<div class="container">
<!--    <div th:switch="${user.getRole()}">-->
<!--        <div th:case="'admin'">-->
<!--            <h3 th:text="First name + ': ' + ${user.getFirstName()}"></h3>-->
<!--            <h3 th:text="Last name + ': ' + ${user.getLastName()}"></h3>-->
<!--        </div>-->
<!--        <div th:case="'teacher'">-->
<!--            <h3 th:text="First name + ': ' + ${user.getFirstName()}"></h3>-->
<!--            <h3 th:text="Last name + ': ' + ${user.getLastName()}"></h3>-->
<!--            <h3 th:text="Academic degree + ': ' + ${user.getAcademicDegree()}"></h3>-->
<!--            <h3 th:text="Department + ': ' + ${user.getDepartment()}"></h3>-->
<!--        </div>-->
<!--        <div th:case="'student'">-->
<!--            <h3 th:text="First name + ': ' + ${user.getFirstName()}"></h3>-->
<!--            <h3 th:text="Last name + ': ' + ${user.getLastName()}"></h3>-->
<!--            <h3 th:text="Student ticket + ': ' + ${user.getStudTicketSeries()}"></h3>-->
<!--            <h3 th:text="Faculty + ': ' + ${user.getFaculty()}"></h3>-->
<!--            <h3 th:text="Speciality + ': ' + ${user.getSpeciality()}"></h3>-->
<!--        </div>-->
<!--    </div>-->


</div>


</body>

</html>